/* @media screen and (max-width: 960) {
    nav.myNav {
        display: none;

    }

    #navMenu a {
        display: none;
        justify-content: flex-end;
        flex-direction: column;
        color:blue;
    }
   
} */