/* 1200px
992px
768px
480px
320px */
@media (min-width: 1200px) {
    .sixthBlock .textBox .textWrapper_6 p {
        padding: 50px 0 0;
    }
}

@media(max-width: 1200px) {
    header {
        max-height: 100%;
        padding-bottom: 10vh;
    }
}

@media (max-width: 1200px),
(min-width: 1200px) {
    .wrapper {
        padding-top: 0;
    }

    .headerBottom h1 {
        margin-top: 20vh;
        color: whitesmoke;
        /*        color: green;*/
    }

    .sixthBlock .imgContainer div {
        padding: 2.5px;
        margin: 0;
    }
}

@media (max-width: 1200px) {
    nav ul .fa:last-child {
        margin-right: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .firstBlock .headerTop {
        justify-content: space-between;
    }

    .firstBlock .headerTop .menuCover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background-color: rgba(0, 0, 0, 0.658);
        transition: 0.3s linear;
    }

    .firstBlock .headerTop .menuCover.active {
        height: 100vh;
    }

    .firstBlock .headerBottom h1 {
        font-size: 70px;
    }

    /*................................  Burger menu apires ...................................... */

    #burger {
        display: block;
        z-index: 12;
        position: fixed;
        top: 38px;
        /* left: 50%; */
        left: 50vw;
        /* border: 1px solid red; */
    }

    #burger .firstLine.active {
        transform: rotate(45deg) translate(13px, 10px);
    }

    #burger .secondLine.active {
        display: none;
    }

    #burger .thirdLine.active {
        transform: rotate(-45deg) translate(9px, -5px);
    }

    /*............................. //  Burger menu apires ...................................... */

    /* .headerTop img {
            max-width: 160px;
            margin: 5px 0 0 10px;
        } */


    /*.................................. Menu disapires ........................................ */

    .menu {
        /* display: none; */
        position: fixed;
        top: 15vh;
        /* left: 43.5%; */
        /* left: 46.2%; */
        /* left: 50%; */
        left: 46vw;
        z-index: 12;
    }

    /* .menu .menu_list li.pad {
        flex-direction: row;
    } */

    .menu_list {
        flex-direction: column;
    }

    /* .menu_list li:nth-last-child(-n+3) {
        display: inline-block;
        color: blue;
        display: flex;
        flex-direction: row;
        align-self: right;
        justify-self: center;
        background-color: green;
        border: 1px solid black;

    } */


    /* .menu_list li:nth-child(-n+3) {
        flex-direction: row;
    } */

    .menu_list li:hover .menu .sub-menu_list li {
        display: block;
    }

    /* .menu_list li:nth-last-child(-n+3) {
        flex-direction: row;
    } */


    .menu .sub-menu_list {
        /* display: block; */
        /* position: static; */
        position: static;
        top: 0;
        left: 0;
        margin: 0;
        /* position: absolute;
        top: 0;
        left: 100%;
        margin: 0; */
    }

    .sub-sub-menu_list {
        position: static;
        top: 0;
        left: 0;
        padding: 0;
    }

    .sub-sub-menu_list li a {
        display: block;
    }

    /*................ // Menu disapires ......................... */

    /* .menu a {
        padding: 10px 0 0 0;
        font-size: 27px;
        z-index: 12;
    } */

    /* .menu a.pad {
        padding: 10px 10px 0 13px;
    } */

    .headerBottom h1 {
        margin-top: 23vh;
        margin-bottom: 10vh;
    }

    .sixthBlock .imgContainer div {
        padding: 2.5px;
        margin: 0;
    }

    .sixthBlock .textBox .textWrapper_6 h1 {
        font-size: 32px;
    }

    .sixthBlock .textBox .textWrapper_6 p {
        color: #4c4c4c;
        font-family: 'Lato';
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 0 5px;
    }

    .sixthBlock .formWrapper_6 {
        height: 100%;
        max-width: 50%;
    }

    .sixthBlock .formWrapper_6 {
        min-width: 100%;
    }

    .bottom div:nth-child(n+2)>img {
        max-width: 100%;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    .firstBlock .headerTop {
        position: relative;
    }

    /* .firstBlock .menu {
        left: 42%;
    } */

    .firstBlock a.fa {
        transform: translateX(6px);
    }

    .firstBlock .headerBottom h1 {
        font-size: 65px;
    }

    footer {
        padding: 10px 0 0 0;
    }

    footer div:nth-child(-n+2) {
        margin-bottom: 15px;
    }

    .bottom div {
        display: block;
        width: 100%;
        height: 100vh;
    }

    footer div:nth-child(n+2) div img,
    footer div:nth-child(n+2) div .fa {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    /* .firstBlock .menu {
        left: 41%;
    } */

    .firstBlock .headerBottom h1 {
        font-size: 60px;
    }

    .secondBlock .leftSide h2 {
        font-size: 29px;
    }

    .thirdBlock {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }

    .thirdBlock .square {
        display: flex;
        flex: 1 2 auto;
        position: relative;
        top: 8%;
        left: auto;
    }

    .fourthBlock .boxWrapper div p span> {
        font-size: 19px;
    }

    .fourthBlock .boxWrapper .sticker .boxSpecial span:first-child {
        padding-right: 0px;
    }

    .fourthBlock .boxWrapper div p .special {
        min-height: 100%;
        align-items: center;
    }

    .fifthBlock .square h1 {
        font-size: 30px;
    }

    .sixthBlock .imgContainer {
        flex-flow: column;
        justify-content: space-between;
    }

    .sixthBlock .imgContainer div {
        max-height: 50vh;
        overflow: hidden;
    }

    .sixthBlock .textBox .textWrapper_6 {
        border: none;
    }

    .sixthBlock .textBox .textWrapper_6 h1 {
        font-size: 25px;
        margin-top: 0;
        padding-top: 0;
    }

    .sixthBlock .textBox .textWrapper_6 p {
        font-size: 16px;
        letter-spacing: normal;
        margin: 0px auto;
        padding-left: 20px;
        padding-right: 20px;
        /* border: 2px solid red; */
    }

    .sixthBlock .imgContainer div {
        padding: 2.5px 15px;
        width: 100%;
    }

    .sixthBlock .formWrapper_6 {
        max-height: 50%;
    }

    .sixthBlock .formWrapper_6 label {
        min-width: 100%;
    }

    .sixthBlock .formWrapper_6 form label:first-child,
    .sixthBlock .formWrapper_6 form label:nth-child(odd) {
        margin-right: 0px;
        padding-right: 0px;
    }

    .bottom {
        flex-flow: row wrap;
    }

    .bottom div h1 {
        margin-top: 25vh;
        font-size: 25px;
    }

    .bottom div p {
        font-size: 20px;
    }

    .bottom div span {
        font-size: 18px;
    }

    .bottom div:nth-child(2) span img {
        width: 45px;
        height: 23px;
    }

    .bottom div:nth-child(3) div a .fa {
        font-size: 70px;
    }
}

@media (max-width: 725px) {
    .firstBlock .menu {
        /* left: 41%; */
        left: 44.5vw;
    }

    .firstBlock .headerBottom h1 {
        color: blue;
    }
}

@media (max-width: 705px) {
    .fourthBlock .boxWrapper div .boxSpecial {
        max-height: 18%;
    }

    @media (max-width: 700px) {
        /* .firstBlock .menu {
            left: 39.5%;
        } */

        /* .firstBlock .headerBottom h1 {
            color: blue;
        } */

        .sixthBlock .textBox .textWrapper_6 p {
            color: #4c4c4c;
            font-family: 'Lato';
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 1px;
            padding: 0 5px;
        }

        .sixthBlock .imgContainer div {
            min-height: 50%;
        }
    }

    @media (max-width: 655px) {
        .firstBlock .headerBottom h1 {
            font-size: 57px;
        }
    }

    @media (max-width: 650px) {
        .sixthBlock .imgContainer div {
            padding: 2.5px;
        }
    }

    @media (max-width: 624px) {
        .firstBlock .headerBottom h1 {
            /* color: greenyellow; */
            font-size: 55px;
            margin-bottom: 10vh;
        }

        .secondBlock .leftSide img {
            flex: 0 2 auto;
        }
    }

    @media (max-width: 550px) {
        .firstBlock .menu {
            left: 43vw;
        }

        /* .firstBlock .headerBottom h1 {
            color: red;
        } */
    }

    @media (max-width: 547px) {
        .fourthBlock .boxWrapper div .boxSpecial {
            max-height: 23%;
        }
    }

    @media (max-width: 521px) {
        .firstBlock .headerBottom h1 {
            margin-top: 19vh;
            margin-bottom: 0;
        }

        .fifthBlock {
            padding-top: 15px;
            padding-bottom: 0px;
        }
    }

    @media (max-width: 414px) {
        .firstBlock .headerBottom h1 {
            font-size: 47px;
            /* color: red; */
        }

        .firstBlock .menu {
            /* left: 41%; */
            left: 42vw;
        }

        .firstBlock .headerBottom h1 {
            color: blue;
        }

        .firstBlock .btnContainer {
            margin-top: 15vh;
        }

        .fourthBlock .boxWrapper div h1 {
            /* color: red; */
            font-size: 22px;
        }

        .fourthBlock .boxWrapper div p>span {
            /* color: rgb(83, 56, 107); */
            font-size: 15px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .inner {
            font-size: 16px;
            /* color: red; */
        }

        .fourthBlock .boxWrapper div p .special {
            flex-shrink: 8;
        }

        .fourthBlock .boxWrapper div p .special span {
            transform: rotate(90deg);
        }

        .fourthBlock .boxWrapper div .boxSpecial {
            max-height: 15.6%;
        }

        .fifthBlock {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .sixthBlock .textBox .textWrapper_6 h1 {
            font-size: 20px;
        }

        .sixthBlock .textBox .textWrapper_6 p {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0 5px;
            margin: 0 auto;
            width: 100%;
        }

        .sixthBlock .imgContainer div {
            padding: 2.5px;
            margin: 0;
        }
    }

    @media (max-width: 411px) {
        .firstBlock .headerBottom h1 {
            font-size: 47px;
            /* color: greenyellow; */
        }

        .firstBlock .btnContainer {
            margin-top: 130px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .special {
            flex-shrink: 9;
            margin-right: 1.1px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .special span {
            font-size: 14px;
        }
    }

    @media (max-width: 375px) {
        .firstBlock .btnContainer {
            margin-top: 80px;
        }

        .firstBlock .menu {
            left: 41.5vw;
        }

        .fourthBlock .boxWrapper div.sticker,
        .fourthBlock .boxWrapper div.mainDish {
            margin-top: 5px;
        }

        .fourthBlock .boxWrapper div p {
            font-size: 14.6px;
        }

        .fourthBlock .boxWrapper div .boxSpecial {
            max-height: 15.41%;
        }

        .fourthBlock .boxWrapper div p>span {
            font-size: 14px;
            font-weight: bold;
            /* color: blueviolet; */
        }

        .fourthBlock .boxWrapper div.sticker .inner {
            font-weight: normal;
            font-size: 14.6px;
            /* color: red; */
        }

        .fourthBlock .boxWrapper div .boxSpecial .special {
            flex-shrink: 9;
        }

        .fourthBlock .boxWrapper div .boxSpecial .special span {
            font-size: 12px;
            font-weight: normal;
        }

        .fifthBlock {
            display: flex;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0px;
        }

        .fifthBlock .square p {
            font-size: 18px;
        }

        .sixthBlock .textBox .textWrapper_6 img {
            width: 100%;
        }

        .sixthBlock .textBox .textWrapper_6 h1 {
            font-size: 20px;
        }

        .sixthBlock .textBox .textWrapper_6 p {
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0 5px;
            margin: 0;
        }
    }

    @media (max-width: 360px) {
        .firstBlock .btnContainer {
            margin-top: 50px;
        }

        .fourthBlock .boxWrapper div .boxSpecial {
            max-height: 15.5%;
        }

        .fourthBlock .boxWrapper div p>span {
            /* color: red; */
            font-size: 13px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .inner {
            font-size: 14px;
        }
    }

    @media (max-width: 320px) {
        .firstBlock .menu {
            /* left: 41%; */
            left: 40vw;
        }

        .firstBlock .btnContainer {
            max-width: 310px;
        }

        .firstBlock .btnContainer .btnWrapper1 {
            margin-right: 5px;
        }

        .firstBlock .btnContainer .btnWrapper2 {
            margin-left: 5px;
        }

        .thirdBlock .square {
            top: 12%;
        }

        .fourthBlock .boxWrapper div .boxSpecial {
            max-height: 15%;
        }

        .fourthBlock .boxWrapper div p {
            font-size: 12.5px;

        }

        .fourthBlock .boxWrapper div p>span {
            /* color: red; */
            font-size: 12px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .inner {
            font-size: 12.5px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .special {
            flex-shrink: 10;
            margin-right: 2px;
        }

        .fourthBlock .boxWrapper div .boxSpecial .special span {
            font-size: 10.7px;
        }

        .fifthBlock {
            padding: 0;
        }

        .fifthBlock .square h1 {
            font-size: 25px;
            padding: 0;
            margin: 0;
        }

        .fifthBlock .square p {
            font-size: 16.9px;
            padding: 0;
            margin: 0;
        }
    }
}