/* 1200px
992px
768px
480px
320px */
@media (min-width: 1200px) {
    .sixthBlock .textBox .textWrapper_6 p {
        padding: 50px 0 0;
    }
}

@media(max-width: 1200px){
	header {
		max-height: 100%;
		padding-bottom: 10vh;
	}
}

@media (max-width: 1200px),
(min-width: 1200px) {
    .wrapper {
        padding-top: 0;
    }

    .headerBottom h1 {
        margin-top: 20vh;
        color: whitesmoke;
        /*        color: green;*/
    }

    .sixthBlock .imgContainer div {
        padding: 2.5px;
        margin: 0;
    }

}

    @media (max-width: 1200px) {
        /* .headerTop img {
            max-width: 150px;
            margin: 5px 0 0 -10px;
        } */

        nav ul .fa:last-child {
            margin-right: 0;
            padding-right: 0;
        }

        .fourthBlock .boxWrapper div h1 {
            color: blueviolet;
        }

        /* .sixthBlock .textBox .textWrapper_6 h1 {
            color: rgb(0, 255, 55);
        }  */
    }

    @media (max-width: 992px) {

        .firstBlock .headerTop {
            justify-content: space-between;
        }

        .firstBlock .headerBottom h1 {
            /* color: green;  */
            font-size: 70px;
        }

        /*................................  Burger menu apires ...................................... */

        #burger {
            display: block;
            z-index: 12;
            position: fixed;
            top: 38px;
            left: 50%;
        }

        /*............................. //  Burger menu apires ...................................... */

        /* .headerTop img {
            max-width: 160px;
            margin: 5px 0 0 10px;
        } */


        /*.................................. Menu disapires ........................................ */

        .menu {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 40px;
            left: 43.5%;
            z-index: 12;
            margin-top: 60px;
        }

        /*................ // Menu disapires ......................... */

        .menu a {
            padding: 10px 0 0 0;
            font-size: 27px;
            z-index: 12;
        }

        .menu a.pad {
            padding: 10px 10px 0 13px;
        }

        .headerBottom h1 {
            /* font-size: 70px; */
            margin-top: 23vh;
            margin-bottom: 10vh;
                   /* color: blue; */
        }

        .sixthBlock .imgContainer div {
            padding: 2.5px;
            margin: 0;
        }

        .sixthBlock .textBox .textWrapper_6 h1 {
            font-size: 32px;
            /* color: blueviolet; */
        }

        .sixthBlock .textBox .textWrapper_6 p {
                color: #4c4c4c;
                font-family: 'Lato';
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: normal;
                padding: 0 5px;
                /* margin: 0; */
        }

        .sixthBlock .formWrapper_6 {
            height: 100%;  
            /* min-width: 80%;  */
            max-width: 50%;
            /* border: 5px solid aqua; */
        }

        /* .sixthBlock .textBox .textWrapper_6 h1 {
            color: rgb(0, 255, 55);
        }  */

        .sixthBlock .formWrapper_6 {
            min-width: 100%;
        }

        .bottom div:nth-child(n+2)>img {
            max-width: 100%;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 850px) {
        .firstBlock .headerTop {
            position: relative;
        }

        /* .headerTop img {
            position: fixed;
            left: 0;
        } */

        .firstBlock .menu {
            left: 42%;
        }

       .firstBlock a.fa {
            transform: translateX(6px);
        }

        .firstBlock .headerBottom h1 {
            font-size: 65px;
            /* margin-bottom: 12.11vh; */
                   color: yellow;
        }

        footer {
            padding: 10px 0 0 0;
        }

        footer div:nth-child(-n+2) {
            margin-bottom: 15px;
        }

        .bottom div {
            display: block;
            width: 100%;
            height: 100vh;
        }

        footer div:nth-child(n+2) div img,
        footer div:nth-child(n+2) div .fa {
            transform: translateY(-20px);
        }
    }

    @media (max-width: 768px) {
        .firstBlock .menu {
            left: 41%;
        }

        .firstBlock .headerBottom h1 {
            color: blue;
            /* font-size: 73px; */
            font-size: 60px;
            /* margin-bottom: 13.93vh; */
        }

        /* .firstBlock .btnContainer {
            margin-top: 27vh;
        } */

        .secondBlock .leftSide h2 {
            font-size: 29px;
        }

        .thirdBlock {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            padding: 0;
        }

        .thirdBlock .square {
            display: flex;
            flex: 1 2 auto;
            position: relative;
            /* padding: 0; */
            top: 8%;
            left: auto;
        }

        .fourthBlock .boxWrapper div h1 {
            color: rgb(15, 131, 15);
        }

        .fifthBlock .square h1 {
            /* color: rgb(205, 125, 50); */
            font-size: 30px;
        }

        /* .fifthBlock .square p {
            font-size: 18px;
        } */

        .sixthBlock .imgContainer {
            flex-flow: column;
            justify-content: space-between;
        }
        
        .sixthBlock .imgContainer div {
            /* max-height: 300px; */
            max-height: 50vh;  
            overflow: hidden; 
        }

        .sixthBlock .textBox .textWrapper_6 {
            border: none;
        }

        .sixthBlock .textBox .textWrapper_6 h1 {
            font-size: 25px;
            margin-top: 0;
            padding-top: 0;
            /* color: blue; */
        } 

        .sixthBlock .textBox .textWrapper_6 p {
            /* font-size: 14px; */
            font-size: 16px;
            letter-spacing: normal;
            margin: 0px auto;
            /* width: 90%; */
            /* color: blueviolet; */
            padding-left: 20px;
            padding-right: 20px;
            /* border: 2px solid red; */
         } 

         .sixthBlock .imgContainer div {
             padding: 2.5px 15px;
             width: 100%;
         }

         .sixthBlock .formWrapper_6  {
             max-height: 50%;
             /* max-height: 40%; */
         }

         .sixthBlock .formWrapper_6 label {
             min-width: 100%;
         }
     
        
.sixthBlock .formWrapper_6 form label:first-child,
.sixthBlock .formWrapper_6 form label:nth-child(odd) {
    margin-right: 0px;
    padding-right: 0px;
}

        .bottom {
            flex-flow: row wrap;
        }

        .bottom div h1 {
            margin-top: 25vh;
            font-size: 25px;
        }

        .bottom div p {
            font-size: 20px;
        }

        .bottom div span {
            font-size: 18px;
        }

        .bottom div:nth-child(2) span img {
            width: 45px;
            height: 23px;
        }

        .bottom div:nth-child(3) div a .fa {
            font-size: 70px;
        }
    }

    @media (max-width: 700px) {
        /* .headerBottom h1 {
            color: deeppink;
        } */

        .firstBlock .menu {
            left: 39.5%;
        }

        /* .secondBlock .leftSide h2 {
            color: blue;
        } */

        .sixthBlock .textBox .textWrapper_6 p {
            color: #4c4c4c;
            font-family: 'Lato';
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 1px;
            padding: 0 5px;
            /* margin: 0 auto; */
        }

        .sixthBlock .imgContainer div {
            min-height: 50%;
        }

        /* .sixthBlock .textBox .textWrapper_6 p {
            color: blueviolet;
        } */
        
    }

    @media (max-width: 655px) {
        .firstBlock .headerBottom h1 {
            color: black;
            /* margin-bottom: 15.2vh; */
            font-size: 57px;
        }

        /* .secondBlock .leftSide h2 {
            color: blue;
        } */
    }

    @media (max-width: 650px) {
        /* .firstBlock .headerBottom h1 {
            color: aqua;
            margin-bottom: 15.2vh;
        } */

        .menu {
            left: 38.5%;
        }

        .sixthBlock .imgContainer div {
            padding: 2.5px;
            /* margin: 0; */
        }

        /* .sixthBlock .textBox .textWrapper_6 p {
           color: blue;
        } */
    }

    @media (max-width: 624px) {
        .firstBlock .headerBottom h1 {
            /* color: greenyellow; */
            font-size: 55px;
            margin-bottom: 10vh;
        }

        /* .secondBlock .leftSide h2 {
            color: blueviolet;
        } */

        .secondBlock .leftSide img {
            flex: 0 2 auto;
        }

        /* .fifthBlock .square p {
            color: yellowgreen;
        } */

    }

    @media (max-width: 550px) {
        /* .firstBlock .headerBottom h1 {
            color: blueviolet;
        } */

        .firstBlock .menu {
            left: 37%;
        }
    }

    @media (max-width: 547px) {
        /* .firstBlock .headerBottom h1 {
            color: rgb(255, 0, 43);
        } */
    }

    @media (max-width: 521px) {
       .firstBlock .headerBottom h1 {
            color: black;
            margin-top: 19vh;
            margin-bottom: 0;
        }

        .fifthBlock {
            padding-top: 15px;
            padding-bottom: 0px;
        }
    }

    @media (max-width: 414px) {
        /* .sixthBlock .textBox .textWrapper_6 img {
            width: 100%;
        } */

        .firstBlock .headerBottom h1 {
            font-size: 47px;
            /* color: red; */
        }

        .firstBlock .btnContainer {
            margin-top: 15vh;
           
        }

        /* .thirdBlock .square {
            top: 15%;

        } */

        /* .thirdBlock .square h1 {
            color: blue;
        } */

        /* .thirdBlock .square {

        } */

         /* .fifthBlock .square p {
            color: yellowgreen;
        } */

        .fifthBlock  {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        

        .sixthBlock .textBox .textWrapper_6 h1 {
            font-size: 20px;
        } 
        .sixthBlock .textBox .textWrapper_6 p {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0 5px;
            margin: 0 auto;
            width: 100%;
            /* text-align: center; */
        }

        .sixthBlock .imgContainer div {
            padding: 2.5px;
            margin: 0;
        }
    }

    @media (max-width: 411px) {
        .firstBlock .headerBottom h1 {
            font-size: 47px;
            /* color: greenyellow; */
        }

        .firstBlock .btnContainer {
            margin-top: 130px;  
            /* margin-top: 20vh; */
           
        }
    }

    @media (max-width: 375px) {
        .firstBlock .btnContainer {
            /* margin-top: 65px;   */
            margin-top: 80px;
           
        }

        /* .firstBlock .btnContainer {
            margin-top: 23vh;
           
        } */

        .fifthBlock {
            display: flex;
            align-items: center;
            /* padding-top: 50%; */
            /* padding-top: 25px; */
            padding-top: 0;
            padding-bottom: 0px;
        }

        .fifthBlock .square p {
            font-size: 18px;
        }

        .sixthBlock .textBox .textWrapper_6 img {
            width: 100%;
        }

        .sixthBlock .textBox .textWrapper_6 h1 {
            font-size: 20px;
        } 
        .sixthBlock .textBox .textWrapper_6 p {
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0 5px;
            margin: 0;
            /* width: 100%; */
            
            /* text-align: center; */
        }

        /* .sixthBlock .imgContainer div {
            padding: 0;
        } */
    }

    @media (max-width: 360px) {
        .firstBlock .btnContainer {
            margin-top: 50px;
           
        }

        /* .fifthBlock {
            padding-top: 0px;
            padding-bottom: 0px;
        } */
    }

    @media (max-width: 320px) {
        /* .firstBlock .btnContainer {
            margin-top: 40px;
           
        } */

        .firstBlock .btnContainer .btnWrapper1 {
            margin-right: 5px;
        }
        .firstBlock .btnContainer .btnWrapper2 {
            margin-left: 5px;
        }

        .thirdBlock .square {
            top: 12%;
        }

        .fifthBlock {
            padding: 0;
        }

        .fifthBlock .square h1 {
            font-size: 25px;
            padding: 0;
            margin: 0;
        }

        .fifthBlock .square p {
            font-size: 16.9px;
            /* font-weight: normal; */
            /* font-weight: normal; */
            padding: 0;
            margin: 0;
        }
    }



