@mixin flexible {
    display: flex;
    justify-content: space-around;
}

@mixin border($color) {
    border: 1px solid $color;
}

@mixin font($f-size, $lineH) {
    font-size: $f-size;
    line-height: $lineH;
    text-align: center;
}

@mixin pad ($pads...) {
    padding: $pads;
}

