html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
}

header {
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
}

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerTop img {
  width: 176px;
  height: auto;
}

.headerBottom .divider {
  width: 234px;
  height: 46px;
  margin: 4vh auto 0;
  color: #dbd8c3;
  opacity: 0.7;
  display: block;
}

.headerBottom h1 {
  font-family: "Yeseva One", cursive;
  font-size: 90px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  margin-top: 10vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul a {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  display: block;
  text-transform: capitalize;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  padding: 47px 25px 0 0;
}

nav ul a:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  text-decoration: underline;
}

nav a.pad {
  padding-right: 13px;
}

nav a.fa {
  color: #dab33e;
  padding-top: 55px;
  font-size: 23px;
}

nav a.fa:hover {
  color: #fff;
}

nav a.fa:focus {
  outline: none;
}

/* .menuBtn {
    display: flex;
    position: fixed;
    top: 25px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 20px;
    box-sizing: border-box;
    padding-bottom: 40px;
    border: 2px solid green;
} */
button {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 21px 53px 21px;
  vertical-align: auto;
  white-space: nowrap;
  width: 229px;
}

.btnContainer {
  margin: 5vh 0 0 31.5vw;
}

.btnContainer .fbtn {
  margin-right: 28px;
  background-color: rgba(38, 37, 28, 0.7);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  border: 1px solid black;
}

.btnContainer .fbtn:hover {
  color: greenyellow;
  border: 1px solid greenyellow;
}

.btnContainer .sbtn {
  background-color: rgba(185, 169, 92, 0.8);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  border: 1px solid #fff;
}

.btnContainer .sbtn:hover {
  background: rgba(38, 37, 28, 0.7);
  color: #fff;
  border: 1px solid #fff;
}

/* ...............SECOND BLOCK.......................................... */
.secondBlock {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.secondBlock .leftSide {
  width: 45%;
}

.secondBlock .leftSide h2 {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding: 105px 105px 20px 150px;
}

.secondBlock .leftSide p {
  font-family: "Lato", cursive;
  padding-left: 23%;
  width: 80%;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.secondBlock .leftSide .cook_img {
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.secondBlock .divider {
  width: 240px;
  height: 25px;
  display: block;
  margin: 0 auto 30px 34%;
}

.secondBlock .rightSide {
  height: 700px;
  padding-top: 76px;
  padding-right: 10%;
  width: 55%;
}

.secondBlock .rightSide img {
  height: auto;
  max-width: 551px;
  width: 100%;
}

.thirdBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-image: url("../img/thirdBlock_img/bg3.jpg");
  background-size: cover;
  padding: 6% 15% 0 0;
}

.thirdBlock .square div {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 12%;
  margin-top: 20%;
}

.thirdBlock .square div img {
  margin-right: 6%;
  margin-left: -23%;
}

.square {
  position: relative;
  top: -5%;
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 3.7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.square h1,
.square p {
  color: #fff;
  text-align: center;
}

.square h1 {
  font-family: 'Yeseva One';
  font-size: 36px;
  margin-bottom: 20px;
}

.square p {
  padding: 0 11%;
}

.square img {
  padding-left: 25%;
  margin-bottom: 4%;
}

.fourthBlock {
  height: 100vh;
  background: #fff;
  padding-left: 7.5%;
  margin-top: 4%;
}

.fourthBlock .boxWrapper1,
.fourthBlock .boxWrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 1150px;
  text-align: center;
}

.fourthBlock .boxWrapper1 div,
.fourthBlock .boxWrapper2 div {
  width: 40%;
}

.fourthBlock .boxWrapper1 div h1,
.fourthBlock .boxWrapper2 div h1 {
  color: #cc9900;
  font-size: 30px;
  font-family: 'Yeseva One';
}

.fourthBlock .boxWrapper1 div img,
.fourthBlock .boxWrapper2 div img {
  padding: 10px 0;
  width: auto;
  height: auto;
}

.fourthBlock .boxWrapper1 div p,
.fourthBlock .boxWrapper2 div p {
  padding-bottom: 5px;
  color: #4c4c4c;
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Lato Regular';
  text-align: left;
}

.fourthBlock .boxWrapper1 div p:nth-last-child(2n),
.fourthBlock .boxWrapper2 div p:nth-last-child(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #c89f2d;
  font-size: 21px;
  line-height: 1.2;
  font-family: 'Yeseva One';
  border-bottom: 1px solid #c89f2d;
  margin-top: 10px;
}

.sticker {
  position: relative;
}

.sticker .special {
  position: absolute;
  right: 0;
  margin-top: 15px;
  color: #fff;
  background: rgba(200, 159, 45, 0.8);
  padding: 0px 14px;
}

.sticker .boxSpecial2 {
  border: 1px solid goldenrod;
  border-bottom: 0;
}

.sticker .boxSpecial2,
.sticker .boxSpecial3 {
  padding: 5px 15px;
}

.sticker .boxSpecial3 {
  border: 1px solid goldenrod;
  border-top: 0;
}

.boxWrapper2 div:nth-of-type(2) {
  margin-top: -5%;
}

.fifthBlock {
  position: relative;
  height: 100vh;
  background-image: url("../img/fifthBlock_img/food.jpg");
  background-size: cover;
}

.fifthBlock .square {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 45%;
  height: 450px;
  margin: 7.5% 30%;
  padding-top: 5.5%;
}

.fifthBlock .square h1,
.fifthBlock .square p {
  color: #fff;
  text-align: center;
}

.fifthBlock .square h1 {
  font-family: 'Yeseva One';
  font-size: 36px;
}

.fifthBlock .square p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Lato Regular';
}

.fifthBlock .square img {
  padding-left: 30%;
  margin-bottom: 4%;
}

.sixthBlock {
  display: block;
  height: 100vh;
  background-color: #fff;
}

.footer {
  display: block;
  height: 25vh;
  background: black;
}
/*# sourceMappingURL=style.css.map */