@import "variables";
@import "mixins";

html,
body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgba(211, 198, 132, 0.1);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    max-width: 1600px;
    width: 100%;
    min-height: 100vh;
    background: url(../img/vine_3.jpg) 0% 35% no-repeat;
    // background: url(../img/vine_2.jpg) 0% 0% no-repeat;
    // background: url(../img/naturmort.jpg) 0% 0% no-repeat;
    background-size: cover;
    box-sizing: border-box;
    // z-index: 2;

    .headerTop {
        @include flexible;

        .wrapper {
            position: fixed;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            z-index: 9;
            height: 110px;
            align-content: center;

            .menu {
                display: flex;
                justify-content: space-between;
                // border: 1px solid blue;
            }

            .btn {
                display: none;
                height: 40px;
                width: 45px;
                z-index: 10;
                margin: auto 0;
                position: relative;
                // left: 47%;

                left: 0%;
                transform: translateX(-30px);

                background-color: transparent;
                cursor: pointer;
                overflow: hidden;
                box-sizing: border-box;
                // border: 1px solid red;

                span {
                    width: 40px;
                    height: 6px;
                    display: inline-block;
                    z-index: 12;
                    top: 0;
                    background-color: palegoldenrod;
                    position: absolute;
                    transition: 0.2s linear;

                    &:first-child {
                        top: 1px;
                    }

                    &:nth-child(2) {
                        top: 14px;
                    }

                    &:nth-child(3) {
                        top: 27px;
                    }
                }
            }

            img {
                width: 150px;
                height: auto;
                position: fixed;
                left: 3%;
            }
        }
    }

    .headerBottom {
        margin-top: 10%;

        .divider {
            width: 234px;
            height: 46px;
            margin: 4vh auto 0;
            color: #dbd8c3;
            opacity: 0.7;
            display: block;
        }

        h1 {
            font-family: $font;
            // @include font(80px, 1.3);
            font-size: calc(38px + 42DropDown_Trial * (100vw / 1600));
            color: $baseColor;
        }
    }

    // .menu ul {
    //     display: flex;
    // }

    .firstBlock .menu .menu_list_2 {
        display: flex;
        margin-top: 27px;
        // padding-top: 27px;
        // max-width: 120px;
        // max-height: 50px;
    }

    .menu_list_2 li {
        margin-top: 27px;
    }

    .menu_list {
        display: flex;
        margin-top: 27px;
        // margin-right: 3%;
        // flex: 1 1 70%;

        a {
            color: hsl(0, 0%, 100%);
            // color: rgb(26, 18, 0);
            @include font(24px, 1.5);
            display: block;
            text-align: center;
            text-transform: capitalize;
            transition: all linear .3s;
            @include pad (0 25px 0 0);

            &:hover {
                transform: scale(1.05);
                text-decoration: underline;
            }
        }

        ul li a:hover {
            text-decoration: none;
            // transform: scale(1);
            padding: 3px 0 2px 5px;
        }

        .sub-menu_list li a {
            border: 1px solid rgba(0, 0, 0, 0.671);
            border-bottom: 0px solid black;
        }

        .sub-menu_list li:last-child a {
            border-bottom: 1px solid black;
        }
    }

    // .menu_list li:hover>ul {
    //     display: none;
    // }

    .menu_list li {
        position: relative;
    }

    .sub-menu_list {
        display: none;
        position: absolute;
        width: 190px;

        li {
            // background-color: rgba(80, 72, 5, 0.7);
            background-color: rgba(255, 255, 255, 1);

            &:hover {
                // background-color: rgba(8, 6, 2, 0.75);
                background-color: rgba(255, 255, 255, 1);
            }
        }

        a {
            margin: 0;
            padding: 0;
            // padding: 5px;
            // text-align: left;
            box-sizing: border-box;
            transition: 0.3s linear;
            // background-color: rgba(151, 137, 16, 0.7);
            // background-color: rgba(80, 72, 5, 0.7);

            &:hover {
                padding: 5px 0px 5px 10px;
                // background-color: rgba(29, 22, 5, 0.75);
                // background-color: rgba(8, 6, 2, 0.75);
            }
        }
    }

    nav {
        div {
            display: flex;
        }

        a.pad {
            padding-right: 13px;
        }

        a.fa {
            color: #dab33e;
            margin-top: 6px;
            font-size: 23px;

            &:hover {
                color: $baseColor;
                text-decoration: none;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .menu_list_2 {
        display: flex;
        flex: 1 1;
        // width: 50%;
        justify-self: center;
        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: 120px;
        margin: 0;
        padding: 0px;
        // justify-content: space-around;
        box-sizing: border-box;
        // border: 1px solid red;

        li {
            max-width: 125px;

            a {
                display: block;
            }
        }
    }

    .btnContainer {
        display: flex;
        flex: 1 1;
        justify-content: space-between;
        max-width: 350px;
        min-height: 65px;
        height: 100%;
        margin: 7.5vh auto 0;
        box-sizing: border-box;

        div {
            display: flex;
            flex: 1 1 100%;
            max-width: 165px;
            position: relative;
            top: 0;
            overflow: hidden;

            a {
                position: absolute;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                text-align: center;
                padding: 22px 0 0;
                transition: .3s linear;
                color: #fff;
            }

            a.fbtn {
                background-color: rgba(38, 37, 28, 0.7);
                @include border(black);
                transition: .3s linear;

                &:hover {
                    color: greenyellow;
                    @include border(greenyellow);
                }
            }

            a.sbtn {
                background-color: rgba(185, 169, 92, 0.8);
                @include border(#fff);
                transition: .3s linear;


                &:hover {
                    background: rgba(38, 37, 28, 0.7);
                    color: $baseColor;
                    @include border(#fff);
                }
            }
        }
    }
}

/* ...............SECOND BLOCK.......................................... */

.secondBlock {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    @include flexible;

    .leftSide {
        display: flex;
        flex-flow: column nowrap;
        flex: 0 2 50%;

        h2 {
            font-family: $font;
            color: #cc9900;
            padding-top: 5vh;
            @include font(36px, 1.2);
        }

        .divider {
            margin: 10px auto;
        }

        p {
            flex: 1 1 auto;
            font-family: $font2;
            padding: 0 10%;
            text-align: center;
            word-wrap: break-word;
            color: #000;
            @include font(16px, 1.5);
        }

        .wrapper_cook_img {
            display: flex;
            justify-content: center;
            flex: 1 1 100px;
            position: relative;
            overflow: hidden;

            .cook_img {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }

    .rightSide {
        display: flex;
        flex-flow: column nowrap;
        flex: 2 1 auto;

        #slider {
            display: flex;
            flex: 2 1 100%;
            overflow: hidden;

            #polosa {
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                flex: 2 1 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    cursor: pointer;

                    &.fish,
                    .sweet {
                        width: 100%;
                        height: 100%;
                    }

                    &.dish {
                        z-index: 3;
                    }
                }
            }
        }
    }
}

// ......................THIRD BLOCK............................................

.thirdBlock {
    // border: 5px solid red;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-image: url("../img/thirdBlock_img/bg3.jpg");
    background-size: cover;
    @include pad (6% 15% 20px 0);
    box-sizing: border-box;

    .square {
        // border: 1px solid blueviolet;
        display: flex;
        flex-flow: row wrap;
        flex: 1 1;
        justify-content: space-between;
        max-width: 500px;
        max-height: 500px;
        justify-content: center;
        background: rgba(0, 0, 0, .6);
        padding: 20px 0 0;
        position: relative;
        box-sizing: border-box;

        .devider3 {
            // border: 2px solid green;
            display: flex;
            flex: 1 1;
            position: relative;
            top: -25px;
            align-self: flex-start;
            max-width: 55%;
            max-height: 10%;
            flex-flow: row nowrap;
        }

        .imgBox {
            // border: 2px solid rgb(128, 0, 111);
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            flex: 1 1 100%;
            height: 20%;
            margin-top: 10%;
            @include flexible;

            // padding: 0 12%;
            div {
                // border: 2px solid rgb(34, 0, 128);
                position: relative;
                max-width: 100px;
                width: 100%;
                max-height: 100px;
                height: 100%;

                img {
                    // border: 1px solid burlywood;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s linear all;
                    border-radius: 50%;
                }
            }
        }

        h1,
        p {
            color: $baseColor;
            text-align: center;
        }

        h1 {
            font-family: 'Yeseva One';
            font-size: 36px;
        }

        p {
            padding: 0 11%;
        }
    }
}

// ............................FOURTH BLOCK..............................

.fourthBlock {
    max-width: 100%;
    background: $baseColor;
    background-color: rgba(211, 198, 132, 0.1);
    // padding-left: 7.5%;
    // margin-top: 4%;
    box-sizing: border-box;

    border: 3px solid #cc9900;

    .boxWrapper {
        margin: 2% 0;
        display: flex;
        justify-content: space-around;
        flex: 1 1 100%;
        // height: 100vh;
        flex-wrap: wrap;
        // border: 2px solid blue;

        div {
            // border: 1px solid blueviolet;
            width: 45%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            // justify-content: space-around;
            h1 {
                color: #cc9900;
                font-size: 30px;
                font-family: 'Yeseva One';
            }

            img {
                padding: 10px 0;
                margin: 10px 0;
                // width: auto;
                // max-width: 100%;
                max-width: 300px;
                width: 100%;
                // height: auto;
            }

            p {
                // border: 2px solid green;
                padding-bottom: 5px;
                color: #4c4c4c;
                font-size: 16px;
                line-height: 1.8;
                font-family: 'Lato Regular';
                text-align: left;

                &:nth-last-child(2n) {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    color: #c89f2d;
                    font-size: 21px;
                    line-height: 1.2;
                    font-family: 'Yeseva One';
                    border-bottom: 1px solid #c89f2d;
                    margin-top: 10px;
                }
            }
        }
    }
}

.sticker,
.mainDish {
    margin-top: 20px;
}

.sticker {
    // border: 4px solid red;

    .boxSpecial {
        display: flex;
        justify-content: space-between;
        flex: 1 1;
        max-height: 16%;
        width: 100%;
        // max-height: 15%;
        // border: 4px solid red;

        span:first-child {
            // display: block;
            // text-align: right;
            // width: 90%;
            // padding-right: 10px;
            // margin-right: 10px;
            display: flex;
            flex: 1 2 90%;
            justify-content: flex-end;
            word-wrap: break-word;
            // margin: 0 auto 0 19%;
            // border: 1px solid blue;
            padding-right: 5px;
            // position: relative;
            // justify-content: flex-end;

            .inner {
                // display: block;
                // margin: 0 auto;
                display: flex;
                flex: 1 1 100px;
                // height: 100%;
                // text-align: center;
                // border: 2px solid blueviolet;
                // position: absolute;
                // top: 0;
                // right: 3%;
            }
        }

        .special {
            display: flex;
            justify-content: center;
            flex: 1 1 100px;

            max-height: 100%;

            align-items: center;
            // max-height: 30px;
            // align-self: flex-end;
            // vertical-align: middle;
            // border: 1px solid blueviolet;
            // margin-top: 15px;
            // margin: 15px 0 0 5px;
            margin: 0px 0 0 0;
            color: $baseColor;
            background: rgba(200, 159, 45, 0.8);
            // padding: 0px 14px;
            text-align: center;
            position: relative;

            span {
                position: absolute;
                border: 0px solid rgb(25, 25, 75);
                // border: 1px solid red;
                // display: flex;
                // flex: 1 1;
                display: block;
                max-width: 100%;
                // background: rgba(200, 159, 45, 0.8);
                text-align: center;
            }
        }
    }

    // .boxSpecial2 {
    //     @include border(goldenrod);
    //     border-bottom: 0;
    // }

    // .boxSpecial2,
    // .boxSpecial3 {
    //     padding: 5px 15px;
    // }

    .boxSpecial3 {
        // @include border(goldenrod);
        border-top: 0;
    }
}



//   ........................... FIFTH BLOCK ..........................

.fifthBlock {
    max-width: 100%;
    height: 100vh;
    background: url("../img/fifthBlock_img/fire.jpg");
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;

    .square {
        background: rgba(0, 0, 0, 0.6);
        width: 45%;
        min-height: 400px;
        // height: 100%;
        // margin: 7.5% 30%;
        // margin: 7.5% 30% 30px;
        // margin: 50% auto;
        margin: 0 auto;
        padding-top: 5.5%;
        padding-left: 45px;
        padding-right: 45px;
        box-sizing: content-box;
        border: 3px solid #0d1317;

        h1,
        p {
            color: $baseColor;
            text-align: center;
        }

        h1 {
            font-family: 'Yeseva One';
            font-size: 36px;
            color: rgb(205, 125, 50);
        }

        p {
            margin-bottom: 20px;
            color: $baseColor;
            font-size: 19px;
            font-weight: bold;
            line-height: 1.5;
            font-family: 'Lato Regular';
        }

        img {
            display: flex;
            margin: 20px auto;
            max-width: 100%;
        }
    }
}

// .........................................SIXTH BLOCK...........................
.sixthBlock {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    // height: 100vh;
    box-sizing: border-box;
    background-color: $baseColor;
    padding: 5px 0 10px;

    .imgContainer {
        background-color: rgba(211, 198, 132, 0.1);
        // background-color: rgba(185, 169, 92, 0.1);
        display: flex;
        justify-content: space-between;
        flex: 1 1 50%;
        min-height: 100%;
        flex-flow: row nowrap;

        div {
            display: flex;
            flex-flow: row nowrap;
            flex: 1 1 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;

            & {
                padding: 10px;
            }

            img {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 0px 0 0px 5px;
            }
        }
    }

    .textBox {
        background-color: rgba(211, 198, 132, 0.1);
        // background-color: rgba(185, 169, 92, 0.1);
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;

        .textWrapper_6 {
            // background-color: rgba(185, 169, 92, 0.1);
            // background-color: rgba(185, 169, 92, 0.8);
            border-bottom: 3px solid #cc9900;
            // background-color: rgba(185, 169, 92, 0.2);
            display: flex;
            flex: 1 1 auto;

            // max-height: 50%;
            flex-flow: column wrap;
            padding: 5px 0 0;

            h1 {
                text-align: center;
                font-family: 'YesevaOne';
                font-size: 36px;
                color: #cc9900;
                font-weight: bold;
            }

            img {
                margin: 10px auto;
                // border: 1px solid black;
            }

            p {
                color: #4c4c4c;
                // color: #cc9900;
                font-family: 'Lato';
                // font-size: 16px;
                font-size: 19px;
                line-height: 1.5;
                padding: 0 5px;
                margin: 0 auto;
                text-align: center;
                // border: 3px solid blueviolet;
            }
        }

        .formWrapper_6 {
            // border: 1px solid blueviolet;
            display: flex;
            flex: 1 1 auto;
            // max-height: 35%;  
            // max-height: 31%;  

            // max-width: 60%;  
            max-width: 82%;


            // max-height: 50%;
            flex-direction: column;
            // margin: 5px 0 0;
            margin: 0 auto;

            form {
                display: flex;
                flex: 1 1 auto;
                flex-flow: row wrap;
                justify-content: center;

                // border-bottom: 5px solid #cc9900;
                label {
                    // border: 3px solid #cc9900;
                    // background-color: rgba(211, 198, 132, 0.2);
                    margin-top: 10px;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 50%;

                    // border: 1px solid green;
                    span {
                        color: #c9a131;
                    }

                    input {
                        border: 1px solid #c9a131;
                        color: #b48f28;

                        input:nth-child(3) {
                            margin-top: 34px;
                            background: #c9a131;
                            height: 39px;
                            width: 199px;
                            border: none;
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            align-self: center;
                            justify-content: center;
                            padding-left: 73px;
                        }

                        #calendar {
                            display: block;
                            background-image: url(../img/sixthBlock-img/calendar.png);
                            background-repeat: no-repeat;
                            background-size: 15px;
                            background-position: 95%;
                            cursor: pointer;
                        }

                        &:focus {
                            border: 1px solid #b4a44b;
                            outline: none;
                            color: #968529;
                        }
                    }
                }
            }

            // .sixthBlock .formWrapper_6 form label:nth-child(1), .sixthBlock .formWrapper_6 form label:nth-child(3) {
            //     // margin-right: 5px;
            //     border: 2px solid blue;
            // }

            #myBtn {
                display: flex;
                align-self: center;
                justify-content: center;
                flex: 1 1;
                min-width: 150px;
                max-height: 45px;
                padding: 15px 30px;
                margin-top: 10px;
                font-weight: bold;
                color: #fff;
                background-color: rgba(122, 103, 6, 0.8);
                transition: 0.3s linear;
                outline: none;
                @include border(#fff);
                cursor: pointer;
                border: 1px solid rgb(116, 93, 35);

                &:hover {
                    // border-radius: 20px;
                    // border: 1px solid rgba(77, 66, 8, 0.8);
                    // border-left: 10px solid rgba(77, 66, 8, 0.8);
                    // border-right: 10px solid rgba(77, 66, 8, 0.8);
                    background-color: rgba(105, 88, 1, 0.801);
                }
            }
        }

    }
}

.sixthBlock .formWrapper_6 form label:first-child,
.sixthBlock .formWrapper_6 form label:nth-child(odd) {
    // margin-right: 1px;
    padding-right: 3px;
    // border: 2px solid blue;
    border-right: 0px solid #cc9900;

}

/* ........................... FOOTER ........................*/

footer {
    // margin-top: 10px;
    min-height: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.93);
    @include flexible;

    div {
        text-align: center;
        margin-top: 3%;
        width: 24%;
        display: flex;
        flex-direction: column;

        h1,
        img {
            margin-bottom: 20px;
        }

        div {
            margin-top: 25px;
        }

        &:first-child {
            width: 100%;
            max-width: 300px;
        }

        &:nth-child(n+2) {
            position: relative;
            display: flex;
            flex-direction: column;

            & div {
                display: flex;
                width: 100%;
                flex-flow: row nowrap;
                align-self: center;
                justify-content: center;
                height: 50px;

            }

            & div i {
                display: flex;
                margin-top: 15px;
                font-size: 22px;
                padding-right: 13px;
                cursor: pointer;
                transition: 0.3s linear;

                &:hover {
                    font-size: 30px;
                }
            }
        }
    }


    .fa {
        color: $baseColor;
        margin-top: 25px;
        padding-right: 10px;
    }

}

div:nth-child(2) .first {
    margin-left: 5px;
}

.fDivider {
    margin-left: -50px;
    width: 200px;
}


.bottom div {

    h1,
    p {
        color: $baseColor;
    }

    h1 {
        font-family: 'Yeseva One';
        font-size: 21px;
    }

    p {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 1.5;
    }
}

#toTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: .3s linear;
    color: rgba(185, 169, 92, 0.8);
    border: 3px solid goldenrod;
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    outline: none;
    transition: 0.3s linear;
    z-index: 5;
}